
/* Entferne die gesamte Tab-Leiste */
#TabsToolbar {
  display: none !important;
}

/* Navigationsleiste entfernen */
#urlbar-container {
  visibility: hidden !important;
}

#main-menubar > menu {
  visibility: hidden !important;
  width: 0px !important;
}